<menu>
    <nav>
    <a href="/sobre">P치gina Sobre</a>
    <% if(!req.session.loggedin) { %>
    <a href="/cadastro">P치gina de Cadastro</a>
    <a href="/login">P치gina de Login</a>
    <% } else { %>
    <a href="/dashboard">P치gina Dashboard</a>
    <a href="/logout">Logout</a>
    <% } %>
    </nav>
</menu>