<menu>
    <img src='./static/3.png' id="img-m">
    <nav>
    <a href="/sobre">Sobre</a>
    <a href="/tabela-posts">Posts</a>
    <% if(!req.session.loggedin) { %>
    <a href="/login">Login</a>
    <% } else { %>
    <a href="/dashboard">Dashboard</a>
    <a href="/post_create">Criar Post</a>
    <a href="/logout">Logout</a>
    <% } %>
    </nav>
</menu>