<menu>
    <nav>
    <a href="/sobre">P치gina Sobre</a><br><br>
    <a href="/cadastro">P치gina de Cadastro</a><br><br>
    <a href="/login">P치gina de Login</a><br><br>
    <a href="/dashboard">P치gina Dashboard</a><br><br>
    <a href="/logout">Logout</a><br><br>
    </nav>
</menu>