<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
    <center><h1>Cadastro realizado com sucesso!</h1></center><br><br><br>
    
    <br><br><br><br><br><br><a href="/">Home</a>
    <%- include("../partials/footer") %>  
    <link rel="styleheet" href="./static/styles.css">

</body>
</html>