<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
    Página de cadastro<br><br><br>
    <main><form action="/cadastro" method="post" class="formItens">
        Seu nome:
        <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário"><br><br>
        Senha:
        <input type="password" name="password" id="password" placeholder="Digite sua senha"><br>
        <button type="submit">Entrar</button>
    </form></main>
    
    <br><br><br><br><br><br><a href="/">Home</a>
    <%- include("../partials/footer") %>
</body>
</html>