<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
  <center><h1>Cadastro</h1><br>
    <main><form action="/cadastro" method="post" class="formItens">
        <p>Nome:</p>
        <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário"><br><br>
        <p>Senha:</p>
        <input type="password" name="password" id="password" placeholder="Digite sua senha"><br>
        <button type="submit">Entrar</button>
    </form></main>
    
    <br><br><br><br><br><br><a href="/">Home</a>
</center>
    <%- include("../partials/footer") %>
    <link rel="stylesheet" href="./static/style.css">

</body>
</html>