<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
<center>
        <br>
         <h1>ERRO 404</h1>
        <br>
         <h1>NÃO FOI ENCONTRADO A PÁGINA</h1>
        <br>
        <br>

    <br><br><br><br><br><br><a href="/">Home</a>
</center>
    <%- include("../partials/footer") %>
    <link rel="styleheet" href="./static/styles.css">

</body>
</html>