<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
    Usuário ou senha inválidos!<br><br><br>
    
    <br><br><br><br><br><br><a href="/">Home</a>
    <%- include("../partials/footer") %>
</body>
</html>