<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
 <center>
   <main>
    <section class="intro">
      <h2>Viajar é incrível, mas nem tudo são flores…</h2>
      <p>No <strong>Passaporte Sincero</strong> você pode falar a real sobre os lugares que visitou.</p>
      <p>Sem filtros, sem marketing — só a verdade.</p>
      <img src='./static/2.png' id="img-a">
    </section>
   </main>
  </center>
    <%- include("../partials/footer") %>
    <link rel="stylesheet" href="./static/styles.css">

</body>

<ul>
    <li><a href="/criticas">Ver Críticas</a></li>
    <% if (req.session.loggedin) { %>
        <li><a href="/post_create">Criar Crítica</a></li>
        <li><a href="/minhas-criticas">Minhas Críticas</a></li>
    <% } %>
</ul>

</html>