<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
    <center>
    <h1>Index</h1><br><br><br><br><br><br><br><br><br>
    </center>
    <%- include("../partials/footer") %>
    <link rel="stylesheet" href="./static/styles.css">

</body>
</html>