<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>    
    <img src='./static/download.png' /><br><br><br>
    Página Index<br><br><br>
    <%- include("../partials/menu") %>
    <%- include("../partials/footer") %>
</body>
</html>