<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
    
    Página Index<br><br><br><br><br><br><br><br><br>
    
    <%- include("../partials/footer") %>
</body>

<ul>
    <li><a href="/criticas">Ver Críticas</a></li>
    <% if (req.session.loggedin) { %>
        <li><a href="/post_create">Criar Crítica</a></li>
        <li><a href="/minhas-criticas">Minhas Críticas</a></li>
    <% } %>
</ul>

</html>