<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
  <center><h1>Login</h1><br>
    <main>
        <form action="/login" method="post" class="formItens">
            <p>Nome:</p>
            <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário"><br><br>
            <p>Senha:</p>
            <input type="password" name="password" id="senha" placeholder="Digite sua senha"><br>
            <button type="submit">Entrar</button>
        </form>
        <br><br><a href="/cadastro">Não tem cadastro? Se cadastre</a>

    </main><br>
    
    <br><br><a href="/">Home</a>
  </center>
    <%- include("../partials/footer") %>
    <link rel="stylesheet" href="./static/styles.css">

</body>
</html>