<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
  <center><h1>Criar Post</h1><br>
    <main>
        <form action="/post_create" method="post">
            <label for="titulo">Título:</label><br>
            <input type="text" id="titulo" name="titulo" required/><br><br>
            <label for="conteudo">Conteúdo:</label><br>
            <textarea id="conteudo" name="conteudo" rows="10" cols="70" required></textarea><br>

            <button type="submit">Cadastrar postagem</button>     
        </form>
    </main>
    <br><br><br><br><br><br><a href="/">Home</a>
   </center>
    <%- include("../partials/footer") %>
   <link rel="stylesheet" href="./static/styles.css">

</body>
</html>