<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<body>    
   <center>
      <main>
    <section>
      <h2>Sobre o Passaporte Sincero</h2><br>
      <p>
        Cansou de ver só elogios exagerados sobre lugares que você visitou e achou... "ok"? </p>
        <p>Nós também. O <strong>Passaporte Sincero</strong> nasceu para dar voz àquelas opiniões reais e críticas que todo mundo tem, mas poucos têm coragem de falar.</p>
      <p>
        Aqui, você pode expor suas experiências negativas, alertar outros viajantes e até abrir discussões sobre turismo, infraestrutura, cultura local ou qualquer aspecto que te impactou. Não é sobre destruir destinos — é sobre sinceridade.
      </p>
      <p>
        Sua experiência vale muito. Compartilhe com quem precisa saber a verdade.
      </p>
     <img src='./static/promocoes.jpg'>

    </section> 
  </main>
    </center>
    <%- include("../partials/footer") %>
    <link rel="styleheet" href="./static/styles.css">

</body>
</html>