:root {
    --primary-color: #7c3fd6;
    --secondary-color: #000000;
    --text-color: #000000;
    --transition: all 0.3s ease;
  }

html, body {
  height: 100%;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: rgb(225, 225, 225);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


footer{
  background-color: #ff0000;
  color: white;
  padding: 0px;
  text-align: center;
  margin-top: auto; 
}
  
header {
  background-color: red;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
}

h1, h2, h3 {
  color: #242424;
  margin-bottom: 20px;
}

p {
  color: #323232;
  margin-bottom: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
  background-color: #e55750;
  color: white;
  cursor: pointer;
  padding: 1px 15px;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background-color: #fe4949;
}

input{
  background-color: #a7a9abee;
  font-size: 18px;
  padding: 7px;
  color: white;
  transition: 1s;
}

input:hover{
  color: #666;
}

textarea{
  background-color: #a7a9abee;
  font-size: 18px;
  padding: 7px;
  color: white;
  transition: 1s;
}

textarea:hover{
  color: #666;
}
  
a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
  font-weight: bold;
}
  
a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  font-weight: bold;
}

menu {
  background-color: red;
  padding: 20px;
  width: fit-content;
  width: 100%;
}

menu nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

menu a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 5px 0;
  font-weight: bold;
  padding: 5px 10px;
}

menu a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  transition: var(--transition);
  background-color: rgba(255, 255, 255, 0.315);  
  border-radius: 4px;
  transition: all 0.3s ease;
}

table {
  width: 100%;
  justify-content: space-around;
  text-align: center;
}